<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @room.user_id %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @room.is_public %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>


<h3>User List</h3>


<h3></h3>
<div id="chat-output">
	<div></div>
</div>
<div id="input-panel">
 <input id="chat-input" type="text" name="chat">	<button id="send-chat">send</button>
</div>
<h3>Room List</h3>
    <% @rooms.each do |room| %>
    <div><%= room.name %> 
    	<%= room.user_id %>
    	<%= room.is_public %>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>    	
    </div>
    <% end %>
<%= link_to 'New Room', new_room_path %>
