<!DOCTYPE html>
<html>
<head>
  <title>SimpleChat</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "simple_chat/application", media: "all" %>
  <%= javascript_include_tag "simple_chat/application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
